:root {
    --background-height: 20vh;

    font-family: inter, Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    border: none;
}

body {
    height: 100vh;

    position: relative;
}

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.background {
    width: 100%;
    height: var(--background-height);

    position: absolute;
    z-index: -2;

    background: #374151 url('images/background.png') no-repeat;
    background-size: cover;
    background-position: center 22%;

}

.background::before {
    content: "";

    position: absolute;
    inset: 0;
    z-index: -1;

    background: rgba(0, 0, 0, 0.6);
}

header {
    min-height: calc(var(--background-height) * 0.75);

    padding: 0 2.625rem 0;

    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 2rem;
    font-weight: 800;
    color: whitesmoke;

    line-height: 2rem;
}

.watchlist-link {
    padding-top: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: whitesmoke;
}

.watchlist-link:hover {
    cursor: pointer;
}

main {
    flex: 1;
}

.search-section {
    height: calc(var(--background-height) * 0.5);

    justify-content: center;
}

.search-bar {
    width: 80%;
    height: auto;

    padding-right: 0.6rem;
    padding-left: 0.2rem;

    margin: 0 auto;

    border: 1px solid #D1D5DB;
    border-radius: 6px;

    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

    justify-content: center;
}

.search-icon,
.search-input::placeholder,
.search-btn {
    font-size: 0.875rem;
}

.search-icon {
    padding: 0 1.5rem 0 0.5rem;

    align-self: center;
}

.search-input {
    padding-left: 0.5rem;

    flex: 1;
    align-self: stretch;

    outline: none;
}

.search-btn {
    padding: 0.563rem 1.125rem 0.563rem 1.75rem;

    border-left: 1px solid #D1D5DB;

    background-color: #F9FAFB;

    color: #374151;
    text-align: center;
}

.movies {
    flex: 1;
}

.no-content {
    padding-top: 40%;

    flex: 1;

    align-items: center;

    gap: 1rem;
}

.film-icon,
.explore-text {
    color: #DFDDDD;
}

.film-icon {
    font-size: 4rem;
}

.explore-text {
    font-size: 1.25rem;
    font-weight: 700;
}

.movie-card {
    width: 85%;

    margin: 0 auto;
    padding: 2rem 0;

    border-bottom: 1.5px solid #E5E7EB;

    justify-content: center;
    align-items: center;

    gap: 1rem;
}

.movie-poster {
    max-width: 100px;

    width: 5.25rem;
    height: 8.215rem;

    flex: 1;
}

.details {
    justify-content: center;

    font-size: 0.7rem;
    color: #111827;

    gap: 0.5rem;
}

.title-and-ratings,
.time-genre-add-watchlist-btn {
    align-items: center;
    gap: 1rem;
}

.movie-title {
    max-width: 200px;
    font-size: 1.125rem;
    font-weight: 500;

    color: #000000;
}

.star-icon {
    color: #FEC654;
}

.movie-genre {
    max-width: 150px;
}

.add-watchlist-btn {
    background-color: white;
}

.add-watchlist-btn:hover {
    cursor: pointer;
}

.description {
    max-width: 600px;

    font-size: 0.8rem;
    color: #6B7280;
}

@media (min-width: 940px) {
    :root {
        --background-height: 30vh;
    }

    header {
        justify-content: space-around;
    }

    .search-bar {
        width: 50%;
    }
}
